# Ignore output graphs and text logs
graph/
log/
run_counter/

# Ignore MediaPipe model binary (too large for GitHub)
pose_landmarker_lite.task

# Ignore Python cache
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db
